body {
  font-family: sans-serif;
  background-color: #14192D;
  color: white;
  padding: 20px 0 28px 0;
  margin: 0;
}

#spacer2{
  background-color: turquoise;
  width: 1325px;
  height: 415px;
}

#spacer{
  width: auto;
  height: 100px;
}


.app-title {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
}

.animal {
  width: 200px;
  float: left;
  height: 20px;
 border-radius: 8px;
  padding: 20px;
  margin-top:30px;
  margin-left: 300px;
  background-color: #23213E;

}

.animal h4 {
  margin: 0 0 6px 0;
}

.pet-photo {
  float: left;
  width: 40%;
  margin-right: 15px;
}

.pet-name {
  font-size: 1.5rem;
  font-family: Montserrat;
  font-weight: 800;
  text-align: center;
  margin-top: -6px;
}

.species {
  font-size: 0.9rem;
  color: #888;
  vertical-align: middle;
}

.foods-list {
  margin: 0;
  padding: 0;
  position: relative;
  left: 17px;
  font-size: 0.85rem;
  line-height: 1.5;
}

.footer {
  font-size: 0.7rem;
  color: #888;
  text-align: center;
  margin: 0;
}

#result {
   position: absolute;
   width: 100%;
   max-width:870px;
   cursor: pointer;
   overflow-y: auto;
   max-height: 400px;
   box-sizing: border-box;
   z-index: 1001;
  }
  .link-class:hover{
   background-color:#f1f1f1;
  }

  h3{
 font-family: Montserrat;
 font-weight: 800;
 font-size: 40px;
 letter-spacing: 0.02em;
 margin-top: 70px;
 text-align: center;
 color: white;

  }